<configuration>

  <appender name="STDOUT"
    class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{HH:mm:ss.SSS} [%thread] %-5level %logger{30}:%L - %msg%n
     </pattern>
    </encoder>
  </appender>

  <logger name="org.jclouds" level="WARN" />
  <logger name="jclouds" level="ERROR" />
  <logger name="blitzem" level="DEBUG" />

  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>